<div id="consultations">

  <h3 class="consultation-list" style="font-family: var(--bs-body-font-family); font-weight: normal;"> Available Consultations</h3>

      <% @consultations.each do |consultation|%>
        <% name = "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%>

        <div class="consult-card">
          <div class="consult-info">
          <div class="user-info">
            <%= image_tag 'appointment_pic.png', class: "cons-icon" %>
            <div class="info">
              <h4>Title: <%= consultation.pretty_title%></h4>
              <span>Speciality: <%= consultation.speciality %></span>
              <span>Experience(Yrs): <%= consultation.years_of_experience %></span>
              <span>Languages: <%= consultation.languages_spoken%></span>
              <span>Location: <%= consultation.location_city %></span>
              <span>Availability: <%= consultation.availability%></span>
              <span>Price/hr: <%= consultation.price_per_hour %></span>
              <span>Duration(mins): <%= consultation.duration %></span>
              </div>
            </div>

              <div class="con-buttons" >
                <% if consultation.user == current_user %>
                <%# <%=button_to "Delete", consultation, method: :delete, class: 'float-end'%>
                  <%=link_to consultation_path(consultation), data: { turbo_method: :delete }, class: 'float-end' do %>
                    <i class="fa-solid fa-x"></i>
                  <% end %>
                <% end %>
                  <%=link_to "View", consultation_path(consultation), class: 'float-end'%>
              </div>
            </div>
          </div>
        <% end %>

  <%# <%= link_to 'Add consultation', new_consultation_path, class:'nav-link'%>
  <%# <><%= link_to "Add consultation", new_consultation_path, class: 'btn btn-primary' %>
</div>

<div data-controller="toggle">
    <button data-action="click->toggle#fire" class="btn btn-success mx-5 mb-5"> Create consultation </button>

    <div class=" form-open" data-toggle-target="appForm">
      <%= render "form" %>
    </div>
</div>


# card product
<div class="cards">
  <% @consultations.each do |consultation|%>
    <%=link_to consultation_path(consultation) do %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= consultation.pretty_title %></h2>
          <p><%= consultation.speciality %></p>
          <p><%= consultation.years_of_experience %></p>
          <p><%= consultation.location_city %></p>
          <p><%= consultation.price_per_hour %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
