<div class="form-div">
  <h2>Book a consultation</h2>

    <%= simple_form_for @consultation do |f|%>
      <div class="consultform">
        <div class="input">
          <%= f.input :price_per_hour %>
        </div>

        <div class="input">
          <%= f.input :languages_spoken %>
        </div>

        <div class="input">
          <%= f.input :pretty_title %>
        </div>

        <div class="input">
          <%= f.input :location_city %>
        </div>

        <div class="input">
          <%= f.input :speciality %>
        </div>

        <div class="input">
          <%= f.input :years_of_experience %>
        </div>

        <div class="input">
          <%= f.input :availability %>
        </div>

        <div class="input">
          <%= f.input :duration %>
        </div>

        <div class="input">
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        </div>
      </div>

        <div class="form-btns form-actions">
          <%= f.button :submit, "Create Consultation", class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>
