<h1>Consultation Confirmation</h1>
<% name = "#{ @consultation.user.first_name.capitalize} #{ @consultation.user.last_name.capitalize}"%>
<div class="jumbotron">
  <h3 class="display-8">
    <strong>Name: </strong>Dr. <%= name %>
  </h3>
  <hr class="my-2">
  <p class="lead">
    <strong>Title:</strong> <i><%= @consultation.pretty_title.capitalize %></i><br>
    <strong>Speciality:</strong> <i><%= @consultation.speciality %></i><br>
    <strong>Experience(yrs):</strong> <i><%= @consultation.years_of_experience %></i><br>
    <strong>Languages:</strong> <i><%= @consultation.languages_spoken %></i><br>
    <strong>Availability:</strong> <i><%= @consultation.availability %></i><br>
    <strong>Location:</strong> <i><%= @consultation.location_city %></i><br>
    <strong>Price/hr:</strong> <i>£<%= @consultation.price_per_hour %></i><br>
    <strong>Duration(hrs):</strong> <i><%= @consultation.duration %></i>
  </p>
  <hr class="my-2">
  <br>
  <strong>Created at:</strong> <i><%= @consultation.created_at %></i>
  <hr class="my-2">
  <h4>images</h4>
  <% @consultation.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <br>
  <hr>
  <div class="btns col-3 p-0">
    <% if user_signed_in? %>
      <%= link_to "Back", consultations_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Home", root_path, class: "btn btn-primary" %>
    <% end %>
    <% if @consultation.user == current_user %>
      <%= button_to "Delete", @consultation, method: :delete, class: 'btn btn-danger'%>
    <% else %>
      <% if user_signed_in? %>
        <%=button_to "Book Appointment", consultation_appointments_path(@consultation), method: :post, class: 'btn btn-success'%>
      <% end %>
    <% end %>
  </div>
</div>



<div id="appointments">
  <h3 class="mt-4 appointment-list">Appointments</h3>
  <table class="table table-striped table-bordered table-striped">
    <thead>
      <tr class="thead-dark">
        <th>Patient</th>
        <th>Email</th>
        <th>Dr.</th>
        <th>Dr. email</th>
        <th colspan="2">Created at</th>
      </tr>
      <% @appointments.each do |appointment|%>
        <% patien_name = "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%>
        <% dr_name = "#{appointment.user.first_name.capitalize} #{appointment.user.last_name.capitalize}"%>
        <tr>
          <td><%= patien_name %></td>
          <td><%= current_user.email %></td>
          <td><%= dr_name %></td>
          <td><%= appointment.user.email %></td>
          <td><%= appointment.created_at %></td>
          <td><%=link_to 'delete', appointment_path(appointment), data: { turbo_method: :delete }, class: 'btn btn-danger'%></td>
        </tr>
      <% end %>
    </thead>
  </table>
</div>
