
<div id="appointments">
  <h3 class=" appointment-list" style="font-family: var(--bs-body-font-family); color: black; margin-top: 20px;">Your Appointments</h3>

      <% @doctors_appointments.each do |appointment|%>
        <% patient_name = "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%>


        <div class="card-product justify-content-between mt-3">
          <div class="card-product-infos d-flex flex-row  w-100">
            <%= image_tag 'appointment_pic.png' %>
            <div class="d-flex align-items-start flex-column mr-4 ">
              <h4>Dr. <%= appointment[:doctor] %></h4>
              <p>Dr email: <%= appointment[:email] %></p>
              <p>Patient: <%= patient_name %></p>
              <p>Appointment Created: <%= appointment[:email] %></p>
            </div>

            <div class=" d-flex p-2 align-items-start ms-auto p-2" >
              <%=link_to appointment_path(appointment[:appointment]), data: { turbo_method: :delete }, class: 'float-end' do %>
              <i class="fa-solid fa-x"></i>
              <% end %>


            </div>
          </div>
        </div>

      <% end %>

</div>
