
<div id="appointments">
  <h3 class="mt-4 appointment-list">Appointments</h3>
  <table class="table table-striped table-bordered table-striped">
    <thead>
      <tr class="thead-dark">
        <th>Patient</th>
        <th>Email</th>
        <th>Dr.</th>
        <th>Dr. email</th>
        <th colspan="2">Created at</th>
      </tr>
      <% @appointments.each do |appointment|%>
        <% patient_name = "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%>

        <tr>
          <td><%= patient_name %></td>
          <td><%= current_user.email %></td>

          <td><%= appointment.user.email %></td>
          <td><%= appointment.created_at %></td>
          <td><%=link_to 'delete', appointment_path(appointment), data: { turbo_method: :delete }, class: 'btn btn-danger'%></td>
        </tr>
      <% end %>
    </thead>
  </table>
</div>
