
<div id="appointments">
  <h3 class=" appointment-list" style="font-family: var(--bs-body-font-family); color: black; margin-top: 20px;">Appointments</h3>
  <table class="table table-striped table-bordered table-striped">
    <thead>
      <tr class="thead-dark">
        <th>Patient</th>
        <th>Dr </th>
        <th>Dr. email</th>
        <th>Created at</th>

        <th colspan="2"></th>
      </tr>
      <% @doctors_appointments.each do |appointment|%>
        <% patient_name = "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%>

        <tr>
          <td><%= patient_name %></td>
          <td><%= appointment[:doctor] %></td>
          <td><%= appointment[:email] %></td>
          <td><%= appointment[:created_at] %></td>
          <td><%=link_to 'delete', appointment_path(appointment[:appointment]), data: { turbo_method: :delete }, class: 'btn btn-danger'%></td>
        </tr>
      <% end %>
    </thead>
  </table>
</div>
